:root {
    --mainTextColor: rgb(13, 13, 13);
    --bgColor1: rgb(255, 255, 255);
    --bgColor2: rgb(229, 229, 229);
    --bgColorEmpty: rgb(46, 46, 46);
    --borderColor1: rgb(26, 26, 26);
    color: var(--mainTextColor);
    border-top-color: var(--borderColor1);
    border-bottom-color: var(--borderColor1);
    border-left-color: var(--borderColor1);
    border-right-color: var(--borderColor1);
}

.toolBar {
    background-color: var(--bgColor2);
}

.hidden {
    display: none;
}

.bgLevel1 {
    background-color: var(--bgColor1);
}

.bgLevel2 {
    background-color: var(--bgColor2);
}

.bgEmpty {
    background-color: var(--bgColorEmpty);
}

.invisible {
    visibility: hidden;
}

.rounded {
    border-radius: 8px;
    overflow: hidden;
}

.textHero {
    font-size: 28px;
}

.unity-base-field__aligned {
}
